@{
    ViewBag.Title = "DanhGia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title> Đánh Gía </title>
        <link href="~/Assets/dist/css/danhgia.css" rel="stylesheet" />
    </head>
    <body class="nvbody">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h2 style="font-family:'Sans Serif Collection'; color:brown"> <i><b>CÁC ĐÁNH GIÁ CỦA KHÁCH HÀNG </b></i></h2>
        <h2 style="font-family:'Sans Serif Collection'; color:brown"><i><b>VỀ DỊCH VỤ CỦA CHÚNG TÔI</b></i></h2>
        <table class="nvtable">
            <tr class="border">
                <th class="border">Hồ Minh Hiếu</th>
                <th class="border"><img class="nvimg" src="~/Content/image/nv1.png"></th>
                <th class="border"> Xe chạy rất êm, tiết kiệm xăng và có bộ điều khiển hoạt động rất tốt.  </th>
                <th class="border">
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                </th>
            </tr>
            <tr class="border">
                <th class="border">Nguyễn Hữu Tài</th>
                <th class="border"><img class="nvimg" src="~/Content/image/nv2.png"></th>
                <th class="border"> Xe có nhiều không gian để sử dụng, bộ điều hòa rất mát và thông thoáng.  </th>
                <th class="border">
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                </th>
            </tr>
            <tr class="border">
                <th class="border">Trần Đức Anh</th>
                <th class="border"><img class="nvimg" src="~/Content/image/nv3.png"></th>
                <th class="border">  Xe rất đẹp, phía sau có nhiều chỗ trống để chứa đồ.  </th>
                <th class="border">
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                </th>
            </tr>
            <tr class="border">
                <th class="border">Lê Thị Như Mỹ</th>
                <th class="border"><img class="nvimg" src="~/Content/image/nv4.png"></th>
                <th class="border"> Xe rất hiện đại và hoạt động tốt. Có bộ GPS để chỉ đường rất hữu ích. </th>
                <th class="border">
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                    <img src="~/Content/image/star.png" width="50" />
                </th>
            </tr>
        </table>
        <br />
        <div class="quote">
            <p class="display">
                <i>
                Khách Hàng Là Thượng Đế.
                Vui Lòng Khách Đến.
                Vừa Lòng Khách Đi.
                </i>
            </p>
        </div>
    </body>
</html>

