@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Giới Thiệu </title>
    <link href="~/Assets/dist/css/introduce.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br /><br /><br />
    <div class="container" style="padding-top:10%">
        <div>
            <h3 class="text">
                DỊCH VỤ CHO THUÊ XE
            </h3>
            <p>
                Doanh nghiệp chuyên cung cấp dịch vụ cho thuê xe giá rẻ uy tín hiện nay tại Cần Thơ.
                Với các dịch vụ cho thuê xe ngày, xe du lịch, xe tự lái ...Và nhiều dịch vụ liên quan khác hãy gọi
                <span style="color:blue">HOTLINE 0979.756.123</span> để được tư vấn tốt nhất.
            </p>
        </div>
         <div class="slideshow-container">
          <div class="mySlides fade">
            <img src="~/Content/image/car1.png" style="width:100%; height:100%">
          </div>
          <div class="mySlides fade">
            <img src="~/Content/image/car2.png" style="width:100%; height:100%">
          </div>
          <div class="mySlides fade">
            <img src="~/Content/image/travel.png" style="width:100%; height:100%">
          </div>
          <div class="mySlides fade">
             <img src="~/Content/image/car4.png" style="width:100%; height:100%">
          </div>
          <div class="mySlides fade">
             <img src="~/Content/image/car5.png" style="width:100%; height:100%">
          </div>
          <div class="mySlides fade">
             <img src="~/Content/image/car6.png" style="width:100%; height:100%">
          </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(0)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
        <div style="padding-top:30px">
            <h3 class="text">VÌ SAO NÊN CHỌN DỊCH VỤ CHO THUÊ XE CỦA CHÚNG TÔI</h3>

            Dịch Vụ Cho Thuê Xe của chúng tôi là một trong những lựa chọn tốt nhất mà quý khách hàng có thể lựa chọn.
            Không những tiết kiệm về tài chính, khách hàng còn có thể có được chất lượng xe ưng ý cho công việc của mình.
            Thuê Xe Cùng Vui luôn mang đến cho quý vị những chuyến đi tiết kiệm. Trong thời  buổi kinh tế khó khăn,
            dịch vụ thuê xe giá rẻ sẽ giúp quý khách có thể lựa chọn một chuyến đi phù hợp nhất. Ngoài chất lượng xe, giá cả,
            doanh nghiệp chúng tôi đảm bảo quý khách hàng hoàn toàn thấy thoải mái, vui vẻ về thái độ phục vụ. Quý khách hàng có thể yên tâm về kinh nghiệm
            lái xe của tài xế khi lựa chọn. Đám bảo an toàn, tiết kiệm, mang đến sự thoải mái là mục tiêu hàng đầu của doanh nghiệp chúng tôi.
            Và quý khách hãy tin tưởng tuyệt đối về điều này khi đến với dịch vụ thuê xe giá rẻ tại Thuê Xe Cùng Vui.
        </div>
        <div>
            <h3 class="text">THÔNG TIN LIÊN HỆ</h3>

            <p style="font-weight:bold">Mọi chi tiết về dịch vụ cho thuê xe cụ thể xin vui lòng liên hệ:</p>
            <p style="font-weight:bold"> Mr Phong: 0913.195.196 - 0913.929.787</p>
            <p style="font-weight:bold">Email: phong2001nguyen@yahoo.com, dulichvietgiadinh@gmail.com</p>
            <br />
            <p>Nếu có nhu cầu trực tiếp xin vui lòng đến trụ sở của chúng tôi tại:</p>
            <p style="font-weight:bold">TRỤ SỞ CHÍNH:</p>
            <p>Đường 3/2 - Xuân Khánh - Ninh Kiều - Cần Thơ</p>
            <p>Điện thoại: 0979.756.123</p>
        </div>
    </div>
    <script src="~/Assets/dist/js/introduce.js"></script>
</body>
</html>

