@using DichVuThueXe.Models
@model IEnumerable<DichVuThueXe.Models.DonDat>
@{
    ViewBag.Title = "LichSuDatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    table, th, td {
        border-style: none;
        border-collapse: collapse;
        padding: 10px;
    }
    th, td {
        padding: 5px;
    }
    #hover1 {
        background-color: coral;
    }
    #hover2 {
        background-color: white;
    }
    #hover1:hover {
        background-color: orangered;
    }
    #hover2:hover {
        background-color: gainsboro;
    }
    #body {
        background-color: white;
    }
</style>

<div id="body">
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <h1 style="color: blue; margin-left: 20%">LỊCH SỬ ĐẶT HÀNG</h1>
    <div style="padding-left: 20%; padding-right: 10% ">

        @foreach (var item in Model)
        {
            <table>
                <thead style=" border-top: 1px solid black">
                    <tr>
                        <th style="text-align: center; font-size: 15px">
                            @item.Xe.DichVus.First().Ten
                        </th>
                        <th>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            @item.NgayDat.ToString() &nbsp;|
                        </th>
                        @if (item.TrangThaiThanhToan == true)
                        {
                            <th style="color: green">
                                Đã thanh toán
                            </th>
                        }
                        else
                        {
                            <th style="color: red">
                                Chưa thanh toán
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2"><a href="/Home/Detail/@item.Xe.DichVus.First().id"><img src="@Url.Content("~/Content/images/" + item.Xe.HinhAnhs.First().URL)" alt="anh xe" width="100" style="border: 1px solid black; border-radius: 1px" /></a></td>
                        <td style="color: silver" colspan="2">@item.Xe.TenXe</td>
                    </tr>
                    <tr>
                        <td style="text-align: right; color: orange"></td>
                        <td style="text-align: right">
                            <img src="~/Content/images/logo.png" />
                            Thành tiền:&nbsp;
                            <h4 style="color: orange; display:inline">₫@string.Format("{0:#,##0}", item.TongTien)</h4>
                        </td>
                    </tr>
                </tbody>
                <tfoot >
                    <tr>
                        <td colspan="4" style="text-align: right">
                            <a href="~/Home/DanhGia" style="display: inline"><button id="hover1" style=" color: white; border: 0px; padding: 10px 20px; font-size: 16px; border-radius: 3px">Đánh Giá</button> </a>
                            <a href="~/Home/ListService" style="display: inline"><button id="hover2" style=" color: black; border: 1px solid silver; padding: 10px 20px; font-size: 16px; border-radius: 3px">Mua Lại</button> </a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>

</div>
