
body
{
    background-image : url(../../images/base/Backgrough.gif);
	font-family: 'Poppins', sans-serif;
    zoom:90%;
}


.box
{
	//-webkit-box-shadow: 0px 0px 11px 3px rgba(245,245,245,1);
    //-moz-box-shadow: 0px 0px 11px 3px rgba(245,245,245,1);
    //box-shadow: 0px 0px 11px 3px rgba(245,245,245,1);
	//margin-top:20px;
}

.form
{
	//background:#fff;	
}

.form h1
{
    text-align:center;
	color:blue;
	font-size: 25px;
	padding-bottom: 20px;
}

.form_container
{
    margin-top:-180px;
	padding:10px;
}

.form_group {
    
    margin-top: 5px;
}

.classpan 
{
    width:20%;
	float:left;
    color: #000;
    font-size: 13px;
    font-weight: 400;
	display:block;
	padding-top:4px;
	font-family: 'Poppins', sans-serif;
}

.text{
    color:blue;
}
.btn-button {
    height: 45px;
    width: 85%;
    background-image: linear-gradient(90deg,red, yellow, blue);
    border-radius: 5px;
    background-size: 150%;
    transition: 0.5s;
}
.btn-button:hover {
    background-position: right;
}
.txtbox {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    color: #323232;
    padding-left: 6px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 1px solid #dedbdb;
    -webkit-box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
    -moz-box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
    box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
}

.txtbox:focus
{
	outline:0px;
}

.txtbox::placeholder
{
    color:#999;
    font-size:11px;
}


.txtbox1 {
    width: 34.5%;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    color: #323232;
    padding-left: 6px;
    font-size: 12px;
	font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 1px solid #dedbdb;
    -webkit-box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
    -moz-box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
    box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
}

.txtbox1:focus
{
	outline:0px;
}

.txtbox1::placeholder
{
    color:#999;
    font-size:12px;
}


.ddb {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    color: #323232;
	font-family: 'Poppins', sans-serif;
    padding-left: 6px;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px solid #dedbdb;
    -webkit-box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
    -moz-box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
    box-shadow: 0px 3px 3px -4px rgba(191,174,191,1);
}


.mybt {
    width: 15%;
    height: 35px;
    border-radius: 5px;
    background: #105aae;
    color: #fff;
	text-align:center;
    padding-left: 6px;
    font-size: 12px;
	margin-left:20%;
	margin-top:20px;
	font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 1px solid #dedbdb;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(224,224,224,1);
    box-shadow: 0px 0px 1px 0px rgba(224,224,224,1);
	cursor:pointer;
}
